In [3]:
import pymysql

conn = pymysql.connect('localhost',port=3306,user='c7934597',passwd='password',charset='utf8', db='pythondb')  #連結資料庫
cursor = conn.cursor()

cursor.execute("drop table if exists score")  #如果資料表已經存在,刪除後重建
sql = """
CREATE TABLE score (
sid int not null auto_increment primary key,
姓名 char(20),
座號 char(3),
國文 int,
數學 int
) 
"""
cursor.execute(sql)  #執行SQL指令

conn.commit()  #提交資料庫
cursor.close()
conn.close()

In [7]:
import pymysql

conn = pymysql.connect('localhost',port=3306,user='c7934597',passwd='password',charset='utf8', db='pythondb')  #連結資料庫
cursor = conn.cursor()

sql = "insert into score (姓名,座號,國文,數學) values ('李大毛','1',92,80)"
cursor.execute(sql)
sql = "insert into score (姓名,座號,國文,數學) values ('林小明','2',83,61)"
cursor.execute(sql)
sql = "insert into score (姓名,座號,國文,數學) values ('黃金龍','4',53,71)"
cursor.execute(sql)
sql = "insert into score (姓名,座號,國文,數學) values ('劉火樹','6',87,89)"
cursor.execute(sql)
sql = "insert into score (姓名,座號,國文,數學) values ('何美麗','7',73,95)"
cursor.execute(sql)

conn.commit()  #提交資料庫
cursor.close()
conn.close()

In [9]:
import pymysql

conn = pymysql.connect('localhost',port=3306,user='c7934597',passwd='password',charset='utf8', db='pythondb')  #連結資料庫
cursor = conn.cursor()

sql1 = "select * from score"  #查詢資料
cursor.execute(sql1)
data = cursor.fetchall()
print('全部資料：')
print(data)

sql2 = "update score set 國文=98 where 座號 = '%s' " % ('4')  #修改資料
cursor.execute(sql2)
cursor.execute(sql1)
data = cursor.fetchall()
print('修改後資料：')
print(data)

sql3 = "delete from score where 座號 = '%s' " % ('6')  #刪除資料
cursor.execute(sql3)
cursor.execute(sql1)
data = cursor.fetchall()
print('刪除後資料：')
print(data)

conn.commit()  #提交資料庫
cursor.close()
conn.close()

全部資料：
((1, '李大毛', '1', 92, 80), (2, '林小明', '2', 83, 61), (3, '黃金龍', '4', 53, 71), (4, '劉火樹', '6', 87, 89), (5, '何美麗', '7', 73, 95))
修改後資料：
((1, '李大毛', '1', 92, 80), (2, '林小明', '2', 83, 61), (3, '黃金龍', '4', 98, 71), (4, '劉火樹', '6', 87, 89), (5, '何美麗', '7', 73, 95))
刪除後資料：
((1, '李大毛', '1', 92, 80), (2, '林小明', '2', 83, 61), (3, '黃金龍', '4', 98, 71), (5, '何美麗', '7', 73, 95))